vncorenlp
vma_nlu/__pycache__/
vma_nlu/data/raw
vma_nlu/data/fullname.pkl
vma_nlu/first_name.txt
vma_nlu/firstfirstname.txt
vma_nlu/fullname.txt
vma_nlu/fullname2.txt
vma_nlu/last_name.txt
vma_nlu/mid_name.txt
vma_nlu/midlastname.txt
vma_nlu/utils/__pycache__/
vma_nlu/ic/__pycache__/
vma_nlu/ner/__pycache__/
vma_nlu/testcase/__pycache__/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE & Editor folder
/.vscode/
/.idea/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST