vncorenlp
vi_nlp_core/__pycache__/
vi_nlp_core/data/raw
vi_nlp_core/data/fullname.pkl
vi_nlp_core/data/checkpoint.ph
vi_nlp_core/first_name.txt
vi_nlp_core/firstfirstname.txt
vi_nlp_core/fullname.txt
vi_nlp_core/fullname2.txt
vi_nlp_core/last_name.txt
vi_nlp_core/mid_name.txt
vi_nlp_core/midlastname.txt
vi_nlp_core/utils/__pycache__/
vi_nlp_core/ic/__pycache__/
vi_nlp_core/ner/__pycache__/
vi_nlp_core/ner/models/
vi_nlp_core/testcase/__pycache__/
vi_nlp_core/testcase/vlsp2016/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE & Editor folder
/.vscode/
/.idea/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
# model pretrained
checkpoint.pth

.DS_Store

# python setup.py sdist bdist_wheel
# twine upload dist/* 